#canvas_container
{  
	width: 500px;  
	border: 1px solid #2ea0c7;  
}

body 
{	
	font-family:arial;
	font-size:12px;
	background: #2ea0c7;
	margin:0;
	padding:0;  
}


#circle #draggable
{
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}


#circle #inner
{		
	color:#eee;
}


#info
{
	background:#333;
	opacity:0.8;
	position: absolute;
	top:5px;
	right:5px;
	width:280px;
	color:#fff;
	border-radius: 5px;
	z-index:10
}


a
{
	text-decoration:none;
	color: #3e8ed7;
}


a:hover
{
	color: #61b7e6;
}   


.container
{
	width:700px;
	height:100%;
	position:relative;
	top:50px;
	left:50%;
	margin-left:-350px;
}